<div class="container">
  <!-- Codigo Calculadora -->
  <!--
  <div style="text-align:center">
    <h1>Aplicación: {{ title }}</h1>
  </div>

  <form>
    <div class="form-group">
      <label for="operandoA">OperandoA:</label>
      <input
        type="number"
        class="form-control"
        id="operandoA"
        name="operandoA"
        placeholder="Escribe operando A"
        [(ngModel)]="operandoA"
      />
    </div>
    <div class="form-group">
      <label for="operandoB">OperandoB:</label>
      <input
        type="number"
        class="form-control"
        id="operandoB"
        name="operandoB"
        placeholder="Escribe operando B"
        [(ngModel)]="operandoB"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSuma()">Sumar</button>
  </form>

  <p>Resultado {{ resultado }}</p>
  -->
  <div style="text-align: center;">
    <h1 >{{title}}</h1>
    <br>
    <img src={{img}}>
  </div>
</div>