<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Añadir alumnos</title>

</head>
<body>
<form action="" method="post" th:object="${alumno}">
    <input type="hidden" id="id" name="id" value="${alumno.id}" th:field="*{id}"/>
    <label for="nombre">Nombre alumno</label><br>
    <input type="text" id="nombre" name="nombre" value="${alumno.nombre}" th:field="*{nombre}" />
    <br>
    <label for="apellido">Apellido alumno</label><br>
    <input type="text" id="apellido" name="apellido" value="${alumno.apellido}" th:field="*{apellido}" />
    <br>
    <label for="edad">Edad alumno</label><br>
    <input type="number" id="edad" name="edad" value="${alumno.edad}" th:field="*{edad}" />
    <br>
    <label for="dni">DNI alumno</label><br>
    <input type="text" id="dni" name="dni" value="${alumno.dni}" th:field="*{dni}" />
    <br>

    <button type="submit">Actualizar</button>
</form>
</body>
</html>