<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista alumnos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<h1>Clase 2º DAM</h1>

<table class="table table-striped table-hover">
    <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>DNI</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr th:each="alumno : ${alumnos.getContent}">
        <td th:text="${alumno.id}"></td>
        <td th:text="${alumno.nombre}"></td>
        <td th:text="${alumno.apellido}"></td>
        <td th:text="${alumno.edad}"></td>
        <td th:text="${alumno.dni}"></td>
        <td>
            <a th:href="@{/editaralumno(id=${alumno.id})}">Editar</a>
        </td>
        <td>
            <a href="">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
<br>

<div>
   <div sd:pagination-sumary=""></div>
    <ul class="pagination" sd:pagination="full"></ul>
</div>
<br>
<a href="/nuevoalumno">Añadir alumno</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>