<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Inicio de sesion</title>
        <th:block th:replace="~{components/header}"></th:block>
    </head>
    <body>
        <div th:replace="~{components/navbar}"></div>
        <div class="container mt-3 text-center">
            <h1>Inicio de sesion</h1>

            <th:block th:if="${param.success}">
                <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(nickname)}">
                    <span th:text="${nickname}"></span> se ha registrado correctamente!
                </div>
            </th:block>

            <th:block th:if="${param.error}">
                <div class="alert alert-danger" role="alert">
                    Ha existido un problema a la hora de iniciar sesion.
                </div>
            </th:block>

            <form class="col-md-6 m-auto" th:action="@{/login}" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Acceder</button>
            </form>

            <div class="mt-3">
                Si no estas registrado aun, puedes
                <a th:href="@{/registro}">registrarse aqui</a>
            </div>
        </div>
    </body>
    <th:block th:replace="~{components/footer}"></th:block>
</html>